body {
  margin: 0;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding-bottom: 8em ;
  min-height: 90vh;

}
